{% include 'site-nav' %}

<div id="main-content" class="main" role="main">
  <section class="p-strip is-bordered">
    <div class="row">
      <div class="col-12">
        <h1>404 Page Not Found</h1>
        <h2>The page you requested does not exist. Click <a href="/collections/all">here</a> to continue shopping.</h2>
      </div>
    </div>
  </section>
</div>