<header id="navigation" class="p-navigation">
  <div class="row">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__link" href="/">
          <img src="https://assets.ubuntu.com/v1/8e728653-Ubuntu+Advantage-lockup_wht.svg" class="p-navigation__image" alt="Ubuntu logo" style="height: 1.5rem" />
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
      <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
    </div>
    <nav class="p-navigation__nav">
      <a class="p-navigation__link--cart {% if cart.item_count > 0 %}p-navigation__link--cart-count{% endif %}" href="/cart" data-item-count="{{ cart.item_count }}">
        <img class="p-navigation__image" src="https://assets.ubuntu.com/v1/a32d17e3-shopping-cart-white.svg" alt="Cart" />
      </a>
      <span class="u-off-screen">
        <a href="#main-content">Jump to main content</a>
      </span>
      <ul class="p-navigation__links" role="menu">
        {% for link in linklists.main-menu.links %}
          <li class="p-navigation__link" role="menuitem">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>