.p-button {
  &--shop-cta {
    width: 100%;

    @media (min-width: 772px) {
      padding: 1rem;
    }
  }

  &__postscript {
    display: block;
    margin-bottom: .5rem;

    @media (min-width: 772px) {
      min-height: 2rem;
    }
  }
}

.p-list__item--tall {
  @media (min-width: 772px) {
    min-height: 4rem;
  }
}

.p-navigation {
  background-color: #333;

  &::after {
    background: transparent;
  }

  .p-navigation__logo > a,
  .p-navigation__link > a,
  .p-navigation__toggle--close,
  .p-navigation__toggle--open {
    &,
    &:visited,
    &:focus {
      color: hsl(0, 0%, 100%);
    }
  }

  .p-navigation__link > a,
  .p-navigation__toggle--close,
  .p-navigation__toggle--open {
    padding-top: 0.95rem;
  }

  .p-navigation__logo span {
    align-self: flex-end; 
    margin-left: 0.5rem; 
    padding-bottom: 0.15rem;
  }

  .p-navigation__link > a {
    &::before {
      background: transparent;
    }
    
    &:hover {
      background: #2b2b2b;
    }
  }

  &__link--cart {
    order: 1;
    padding: 0.5rem 1.5rem 0;

    @media (max-width: 771px) {
      padding: .75rem 1.5rem;
    }

    &:hover {
      background: #2b2b2b;
    }
  }
}

.p-product-description {
  @media (min-width: 772px) {
    min-height: 5rem;
  }
}

.is-ticked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Ccircle fill='%23dd4814' cx='7' cy='7' r='7'/%3E%3Cpath fill='%23fff' d='M6.1 10.813L2.41 8.105l1.184-1.613L5.9 8.187l4.393-4.394 1.414 1.414z' /%3E%3C/svg%3E");
}
